.sing {
    &__form {
        margin: 50px auto 0 auto;
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10px 5px;
        background-color: beige;
        border-radius: 8px;
    }
    &__input {
        width: 270px;
        height: 35px;
        border: none;
        border-radius: 5px;
        padding-left: 5px;
        font-size: 18px;
    }
    &__btn {
        width: 100px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: #4caf50;
        color: white;
        font-size: 18px;
        cursor: pointer;
        align-self: center;
    }

}