.tetris {
    margin: 50px auto 0 auto;
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px 5px 40px 5px;
    border: 1px solid #000;
    border-radius: 10px;
    &__btns {
        border-top: 1px solid #000;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }
    &__btn {
        padding: 10px 20px;
        font-size: 34px;
        font-weight: 900;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        box-shadow: 2px 4px 10px rgba(154, 152, 152, 0.531);
        color: white;
        cursor: pointer;
        &:hover {
            background-color: #45a049;
        }
        &:active {
            box-shadow: none;
        }
    }
}