.navigation{
    padding: 10px 0px  40px 10px;
    width: 35%;
    background-color: darkgray;
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__item {
        list-style-type: none;
        cursor: pointer;
        &:hover {
            background-color: #fff;
        }
    }
    &__link {
        display: block;
        font-size: 18px;
        padding: 10px;
        
    }
}