.header {
    padding: 0 10px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    &__img {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    &__icons {
        display: flex;
        gap: 30px;
    }
    &__icon {
        display: block;
        width: 30px;
        height: 30px;
        svg {
            width: 100%;
            height: 100%;
        }
        cursor: pointer;
    }
}